 

     <a href="/{{alias }}/">Семинары</a> : {{seminar['name']}}
     <br> Автор : <a href="/staff/{{seminar['staff_id']}}">{{seminar['author_name'] }}</a    >
     <br> Дата: <a href="/{{alias}}/date/{{seminar['date']}}">{{seminar['date']}}</a>
     <p> Описание : {{seminar['description']}}
   
 