 

     <a href="/{{alias}}/">{{ name }}</a> : {{staff['name']}}
     <br> Образование: {{staff['education'] }}
     <br> Дата рождения: {{staff['date']}}
     <p> Описание : {{staff['description']}}
   
 